<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="4" name="Suite">
  <test thread-count="4" name="Test">
    <classes>
        <class name="testcase.SignupTest"/>
    	<class name="testcase.LoginTest"/>
    	<class name="testcase.OnewayTripTest"/>
        <class name="testcase.RoundTripTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
